.todos-container {
  margin-top: 2.5em;
}

.todo-container {
  padding: 1em 0.5em;
}

.todo-container-rounded {
  border: 0.5px solid gray;
  border-radius: 8px;
}

.todo-done {
  background-color: rgb(215, 215, 215);
  text-decoration: line-through;
}

.todo-container-y-spacing {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.row-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.column-top-spacing {
  @media screen and (max-width: 749px) {
    margin-top: 0.5em;
  }
}
